@import 'variables';
@import 'mixins';
@import 'header';
@import 'new';
@import 'people';

html {
  font-family: 'Exo 2', sans-serif;
  background-color: $color-compliment;
  margin: 0;
  padding: 0;
}
