<section id="people-list" role="list">
  <article id="people-stats">
    {{ people-stats people=model}}
  </article>
  <h1>Hated people</h1>
  <ul>
    {{#each model as |person|}}
      <li>
        {{#link-to 'people.person' person}}
          <p>{{person.name}}</p>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</section>
{{outlet}}
